[project]
	description = twcompany selection
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wen chi hing (iwhiori)
[access "refs/for/refs/*"]
	read = group user/Wen chi hing (iwhiori)
	push = group user/Wen chi hing (iwhiori)
	label-Code-Review = -2..+2 group user/Wen chi hing (iwhiori)
	label-Verified = -1..+1 group user/Wen chi hing (iwhiori)
	rebase = group user/Wen chi hing (iwhiori)
	removeReviewer = group user/Wen chi hing (iwhiori)
	submit = group user/Wen chi hing (iwhiori)
[access "refs/heads/*"]
	read = group user/Wen chi hing (iwhiori)
	create = group user/Wen chi hing (iwhiori)
	push = +force group user/Wen chi hing (iwhiori)
	pushMerge = group user/Wen chi hing (iwhiori)
[access "refs/tags/*"]
	push = +force group user/Wen chi hing (iwhiori)
	pushTag = group user/Wen chi hing (iwhiori)
	pushSignedTag = group user/Wen chi hing (iwhiori)
